#root {
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
}

.courses-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 4rem;
    box-sizing: border-box;
}

.column {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    flex: 1;
    margin: 0 10px;
    box-sizing: border-box;
    min-height: 80vh;
    max-width: 30rem;
}