#root {
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
}

.courses-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 4rem;
    box-sizing: border-box;
}

.column {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    flex: 1;
    margin: 0 10px;
    box-sizing: border-box;
    min-height: 80vh;
    max-width: 30rem;
}

.footer-content {
    padding-top: 2.5rem;
    padding-left: 2rem;
    padding-bottom: 4rem;
    margin: 0rem 3rem;
    border-top: 1px solid rgba(56, 189, 248, 0.2);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.footer-links {
    color: var(--text-link);
    text-decoration: none;
}

.footer-links:hover {
    transition: 0.2s;
    color: var(--text-link-hover);
}

.social-links a {
    margin-right: 1rem;
    color: var(--text-link);
    text-decoration: none;
}

.social-links a:hover {
    transition: 0.2s;
    color: var(--text-link-hover);
}